spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: ${FORMAT_SQL:true}
  application:
    name: manageMoney
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: ${PORT:8080}

# JWT Configuration
app:
  jwtSecret: ${JWT_SECRET:myVerySecretKeyForJWTTokenGenerationInManageMoneyApplicationjustwritingittomakeitevenlargerandbiggerandnowitneedstobemorecharactercontaingstringthatiswhymorecharacters}
  jwtExpirationMs: ${JWT_EXPIRATION:86400000} # 24 hours